.tab {
    display: none;
}

.tab-label {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.tab-label:hover {
    background: #ccc;
}

.tab:checked+.tab-label {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 5px;
    background: #fff;
}

#tab1:checked~#tab-content1,
#tab2:checked~#tab-content2,
#tab3:checked~#tab-content3 {
    display: block;
}

.weather-icon {
    padding-right: 20px;
}

.card-title {
    background-color: #343a40;
    color: white;
    padding: 10px;
    border-radius: 5px;
}